# ===== Keil MDK 构建产物 =====
*.crf
*.d
*.o
*.axf
*.hex
*.htm
*.lnp
*.map
*.dep
*.iex
*.lst
*.sct
*.scvd
# 保留启动汇编源文件
!startup_stm32g474xx.s
*.uvguix.*
*.uvoptx
JLinkLog.txt
JLinkSettings.ini

# ===== 编辑器/IDE =====
.vscode/
*.uvprojx.bak
